header{
    font-family: monospace;
    font-size: 200%;
    color: seagreen;
    background-color: tomato;
    text-align: center;
}

body{
    background-color: seagreen;  
}

nav{
    color: transparent;
}

li{
    float: left;
    
}

a{
    color:tomato;
    display: block ;
    padding: 50px;
}


.art{
    font-family:monospace;
    font-size: 200%;
    color:tomato;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}

#titleblurb{
    font-family: monospace;
    font-size: 110%;
    color: beige;
    text-align: center;
}

p{
    font-family: monospace;
    font-size: 110%;
    color: beige;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}

figure{
    text-align: center;
    margin-bottom: 50px;
}